:root:not([data-theme=dark]) {
 /* Main */
    --pico-background-color: white;
    --pico-color: #273338;
    --pico-primary: #273338;
    --pico-primary-background: black;


    /* Everything under this until the noted is useless until used */
    --pico-primary-border: none;

    --pico-primary-hover: #80A1BA;
    --pico-primary-hover-background: #80A1BA;
    --pico-primary-hover-border: #80A1BA;

    /* Secondary */
    --pico-secondary: #80A1BA;
    --pico-secondary-background: #80A1BA;
    --pico-secondary-border: #80A1BA;

    --pico-secondary-hover: #003049;
    --pico-secondary-hover-background: #003049;
    --pico-secondary-hover-border: #003049;


    /* okay it useful now */
    /* Cards */
    --pico-card-background-color: transparent;
    
    --pico-card-border-color: none;


    /* Headings */
    --pico-h1-color: #273338;
    --pico-h2-color: #273338;
    --pico-h3-color: #273338;
    --pico-h4-color: #273338;

    /* Muted text */
    --pico-muted-color: #80A1BA;
    --pico-muted-border-color: #669bbc;
    /* Niche Colors */
    --hike-color: #2B5748;
    --hike-text-color: #9CB080;
    --beach-color: #80A1BA;
    --beach-text-color: rgb(57, 61, 91);
    --footer-background-color: #E3F2FD;
    --pico-border-radius: 20px
}

i {
  color: var(--pico-color)
}
